DJANGO_ENV=development
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GAME_ORIGINS=http://localhost:5173

# Variables de PostgreSQL para producción (Supabase en Render)
POSTGRES_HOST=db.your-project-ref.supabase.co
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_SSLMODE=require
POSTGRES_CONN_MAX_AGE=60
